.container
  ul.usersList
    li.clearfix(data-ng-repeat='user in users')
      img.img-circle(data-ng-src='http://placehold.it/50/FA6F57/fff&text={{user.initials}}', alt='User Avatar')
  .messagesList
    ul.chat(id="chatBox")
      li.clearfix(ng-class="message.sender | orient:(true)", data-ng-repeat='message in messages')
        include message
  .messageBox
    form(data-ng-submit="sendMessage()", name="chatForm", role="form")
      input#messageBox(type='text', placeholder='Type your message here...' data-ng-model="message")
      button#btn-chat.btn.btn-warning.btn-sm(type="submit")
        | Send

