.container
  .messagesList
    ul.chat(id="chatBox")
      li.clearfix(ng-class="message.sender | orient:(true)", data-ng-repeat='message in messages', data-ng-class='orientation')
        include message
  .messageBox
    input#messageBox(type='text', placeholder='Type your message here...' data-ng-model="message")
    button#btn-chat.btn.btn-warning.btn-sm(data-ng-click="sendMessage()")
      | Send

