.container
    .row
        .col-md-9
          .panel.panel-primary
            .panel-body
              ul.chat(id="chatBox")
                li.clearfix(data-ng-repeat='message in messages', data-ng-class='orientation')
                  include message
            .panel-footer
              .input-group
                input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...' data-ng-model="message")
                span.input-group-btn
                  button#btn-chat.btn.btn-warning.btn-sm(data-ng-click="sendMessage()")
                    | Send
