.slogan
  h1
    strong Chatter.me
    | is a simple private chatroom built with
    span Node.js
    | ,
    span Angular.js
    |  and
    span Express

.form-group.buttons
    button.button.md-trigger(type="button", data-ng-click="toggleModal()", data-modal="modal-12") Log in
    button.button.blue(type="button" data-ng-click="toggleOverlay()") Register

#modal-12.md-modal.md-effect-12
  .md-content
    include forms/login

.overlay.overlay-cornershape(data-path-to='m 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z')
  svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewbox='0 0 1440 806', preserveaspectratio='none')
    path.overlay-path(d='m 0,0 1439.999975,0 0,805.99999 0,-805.99999 z')
  button.overlay-close(type='button' data-ng-click="toggleOverlay()") Close
  div.registrationOverlayForm(ng-controller="register")
    include forms/register

.md-overlay