doctype html
html(lang='en')
    head
        base(href='/')
        meta(charset='utf-8')
        title Chatter Application
        link(rel='stylesheet', href='/css/main.css')
        link(href="/components/font-awesome/css/font-awesome.min.css", rel="stylesheet")

    body
        .wrap
            .container_inner
                header.topbar
                  span.logo
                    | Chatter.me
                    e Connecting People
                  .social_header(data-ng-controller="navigation")
                    a(data-access-level='accessLevels.user', active-nav)
                      span.fa.fa-user
                      | Welcome&nbsp;
                      strong(ng-bind='user.username') &nbsp;
                    a.logout(href="", data-ng-click="logout()" data-access-level='accessLevels.user', active-nav)
                      | Log out

            .container(data-ui-view)

    script(src='/lib/requirejs/require.js',data-main='/js/main.js')
