doctype html
html(lang='en')
    head
        base(href='/')
        meta(charset='utf-8')
        title Chatter Application
        link(rel='stylesheet', href='/css/main.css')
        link(href="/components/font-awesome/css/font-awesome.min.css", rel="stylesheet")

    body
        .wrap
            .container_inner
                header.topbar
                  span.logo
                    | Chatter.me
                    e Connecting People
                  .social_header
                    a(href='https://twitter.com/ahmadaassaf', target='_blank')
                      span.fa.fa-twitter
                      | Follow @ahmadaassaf

            .container(data-ui-view)

    script(src='/lib/requirejs/require.js',data-main='/js/main.js')
